h1 {
    color: darkgreen;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h3 {
    text-transform: uppercase;
}

p {
    line-height: 25px;
}

ul {
    display: inline-block;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    float: left;
    padding-right: 20px;
}