body {
    background-color: #111111;
}

h1 {
    color: #E2E80F;
    text-align: center;
    font-size: larger;
}

p {
    color: #EEEEEE;
    font-size: larger;
    line-height: 2em;
}

.credits {
    text-decoration: underline;
    color: #49DAFF;
}

.credits:hover {
    cursor: pointer;
}

#film-description {
    font-size: smaller;
    font-style: italic;
}